talugpt rag.json
{
  "name": "TaluGPT Rag",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "3a59b42a-2e04-4acb-8b86-945b452d763a",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4656,
        816
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uzXMVbVW6uKjzzoU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.embeddingText }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "record_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "record_name",
                "value": "={{ $json.display_name || $json.name }}"
              },
              {
                "name": "kind",
                "value": "={{ $json.kind || \"\" }}"
              },
              {
                "name": "county",
                "value": "={{ $json.county || \"\" }}"
              },
              {
                "name": "municipality",
                "value": "={{ $json.municipality || \"\" }}"
              },
              {
                "name": "lat",
                "value": "={{ $json.lat ?? \"\" }}"
              },
              {
                "name": "lng",
                "value": "={{ $json.lng ?? \"\" }}"
              },
              {
                "name": "products",
                "value": "={{ Array.isArray($json.products) ? $json.products.join(\", \") : \"\" }}"
              },
              {
                "name": "source_file",
                "value": "={{ $(\"Download File\").first().json.name || $(\"Download File\").first().binary.data.fileName || \"\" }}"
              },
              {
                "name": "file_id",
                "value": "={{ $(\"Download File\").first().json.id || \"\" }}"
              }
            ]
          }
        }
      },
      "id": "a77f6490-8188-4e78-8658-9f7d8792d9e7",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        6096,
        1040
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "id": "f3cf0ce1-ea62-4930-a774-e2f2ff47ccf5",
      "name": "Embeddings Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        5952,
        1024
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Jdk7GuvWMOqsjV5S",
          "name": "Tehisabilise 2.5 flash"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "codex_drive_rag"
        },
        "options": {}
      },
      "id": "3197f27f-2f7d-448c-be29-a8ffb6ef3362",
      "name": "Qdrant Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        5984,
        816
      ],
      "credentials": {
        "qdrantApi": {
          "id": "5MPdtYdN292pILmu",
          "name": "Qdrant account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "codex-qdrant-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7ac6e3c2-1d4f-4ae0-a65f-8142900a6c77",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        4608,
        1104
      ],
      "webhookId": "f4c9a59f-bef7-462a-93d8-63eda0392ccb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa16a983-8043-4600-95f9-4413bb480916",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.body.query || $json.query || $json.body.message || \"\" }}"
            },
            {
              "id": "3b5fb5d6-0515-4e52-b824-2318696ae2e8",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.body.sessionId || $json.headers[\"x-session-id\"] || $json.query.sessionId || $execution.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2cb6443-6c61-4560-b11c-6ba89e85f860",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4832,
        1104
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "Answer factual questions from the ingested Google Drive knowledge base. Use chat history only for conversational continuity, clarifications, and user-specific context from this same session. If a factual answer is not in the documents and not established in the current chat session, say you do not know from the current knowledge base."
        }
      },
      "id": "f8ac5718-50bc-4865-9610-1a411eb01e86",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        5120,
        1104
      ]
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search the ingested Google Drive documents for relevant facts before answering.",
        "qdrantCollection": {
          "__rl": true,
          "value": "codex_drive_rag",
          "mode": "list",
          "cachedResultName": "codex_drive_rag"
        },
        "options": {}
      },
      "id": "dcd52360-1a51-424e-842e-766ee13265eb",
      "name": "Qdrant Retrieval Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        5312,
        1328
      ],
      "credentials": {
        "qdrantApi": {
          "id": "5MPdtYdN292pILmu",
          "name": "Qdrant account 3"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "id": "cb0151d0-5e95-45a4-9c6c-66e633955455",
      "name": "Embeddings Google Gemini Chat",
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        5392,
        1536
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Jdk7GuvWMOqsjV5S",
          "name": "Tehisabilise 2.5 flash"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"answer\": $json.output || $json.text || $json.response || \"\"} }}",
        "options": {}
      },
      "id": "066c4377-515b-4feb-befc-a4fbfe75445c",
      "name": "Chat Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        5552,
        1104
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "17g9rgh0MIhJ2gKb_pUlLxFGTYci1zoId"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "1a92767e-52f5-4362-90d4-69e0941d6996",
      "name": "TaluGPT Folder Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        4432,
        816
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uzXMVbVW6uKjzzoU",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $(\"Edit Fields\").first().json.sessionId }}",
        "sessionTTL": 86400,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        5184,
        1328
      ],
      "id": "65618264-c184-42d1-acf3-1047bb56c2d5",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "4soc4bEelc23yFQO",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "destinationKey": "parsed",
        "options": {}
      },
      "id": "883e29ea-a24b-4202-99e5-bbdc61a1c3d2",
      "name": "Extract From File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4880,
        816
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "parsed.records",
        "options": {}
      },
      "id": "b7ba93dd-b98e-41cf-a6cd-77f4f04fdf20",
      "name": "Split Out Records",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5104,
        816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2fd8c6fd-0ba0-4bc4-8fd2-df2b592c1001",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "farm",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2fd8c6fd-0ba0-4bc4-8fd2-df2b592c1002",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "producer",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2fd8c6fd-0ba0-4bc4-8fd2-df2b592c1003",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "market",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2fd8c6fd-0ba0-4bc4-8fd2-df2b592c1004",
              "leftValue": "={{ $json.kind }}",
              "rightValue": "shop",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8cc6767c-cd08-4493-827e-5de31f28c57d",
      "name": "If Farm Record",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5328,
        816
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-embed-001",
              "name": "embeddingText",
              "type": "string",
              "value": "={{ [\n  $json.display_name || $json.name,\n  $json.kind ? 'Type: ' + $json.kind : '',\n  $json.county ? 'County: ' + $json.county : '',\n  $json.municipality ? 'Municipality: ' + $json.municipality : '',\n  Array.isArray($json.products) && $json.products.length ? 'Products: ' + $json.products.join(', ') : '',\n  Array.isArray($json.categories) && $json.categories.length ? 'Categories: ' + $json.categories.join(', ') : '',\n  Array.isArray($json.food_categories) && $json.food_categories.length ? 'Food categories: ' + $json.food_categories.join(', ') : '',\n  Array.isArray($json.certifications) && $json.certifications.length ? 'Certifications: ' + $json.certifications.join(', ') : '',\n  $json.contact?.website ? 'Website: ' + $json.contact.website : '',\n  $json.contact?.phone ? 'Phone: ' + $json.contact.phone : '',\n  $json.contact?.email ? 'Email: ' + $json.contact.email : '',\n  typeof $json.description === 'string' && $json.description.trim() ? $json.description.trim() : '',\n  Array.isArray($json.sources) && $json.sources.length ? 'Sources: ' + $json.sources.map(s => s?.ref).filter(Boolean).join(' | ') : ''\n].filter(Boolean).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c6191fb7-0cc5-4030-b0e5-87192804e552",
      "name": "Build Embedding Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5520,
        816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-empty-001",
              "leftValue": "={{ $json.embeddingText.trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa6f6680-611f-4331-897f-233b4d13fe4b",
      "name": "Filter Empty Text",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5728,
        816
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-7",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        5072,
        1312
      ],
      "id": "620882c2-507e-4577-ac8e-7e4e6e8a56c5",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "ZGBSKsQCbllTt5po",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "TaluGPT Folder Trigger": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Retrieval Tool": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini Chat": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Retrieval Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "Split Out Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Records": {
      "main": [
        [
          {
            "node": "If Farm Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Farm Record": {
      "main": [
        [
          {
            "node": "Build Embedding Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Embedding Text": {
      "main": [
        [
          {
            "node": "Filter Empty Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Empty Text": {
      "main": [
        [
          {
            "node": "Qdrant Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "50fdecc0-451c-4295-84b6-df8f1eb983f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2292c20a0e63ac2bec5100fa77276bc96beeb61c817c6e98c48bd5ac5fda634c"
  },
  "id": "KQ2MHUWiWOreHche",
  "tags": []
}